body{
    background-color: #9CEE59;
    color: black;
}

a:link, a:visited, a:hover, a:active {
   color: #999999;
}

.table{
    width: 980px;
    margin: 0px auto;
    background-color: #509050;
    border: none;
}

#belsoTabla{
    width: 940px;
    margin: 0px auto;
    border-spacing: 1px;
    border: none;
    background-color: white;
}

.masodikSor{
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
}

.gyom{
    float: right;
}

.vastag{
    font-weight: bold;
}